<div class="col-md-3">
    <div class="list-group">
        <a id='m-1' href="{{ url_for('home.user')}}" class="list-group-item">
            <span class="glyphicon glyphicon-user"></span>&nbsp;Profile
        </a>
        <a id='m-2' href="{{url_for('home.pwd')}}" class="list-group-item">
            <span class="glyphicon glyphicon-lock"></span>&nbsp;change password
        </a>
        <a id='m-3' href="{{url_for('home.comments')}}" class="list-group-item">
            <span class="glyphicon glyphicon-comment"></span>&nbsp;comments
        </a>
        <a id='m-4' href="{{url_for('home.loginlog')}}" class="list-group-item">
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;Loginlog
        </a>
        <a id='m-5' href="{{url_for('home.moviecol')}}" class="list-group-item">
            <span class="glyphicon glyphicon-heart"></span>&nbsp;favorites
        </a>
    </div>
</div>